:focus {
    /* TODO */
}

html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    /* TODO */
    background: linear-gradient(to right, yellow, rgb(255, 112, 46));
}

input {
    /* TODO */
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 189, 114, 0.5);
    text-align: center;
    font-family: fantasy;
    width: 40vh;
    border: none;
    border-bottom: 1px solid orangered;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.search-container {
    /* TODO */
}

.search-container input,
.search-container .suggestions {
    /* TODO */
}

.search-container input {
    /* TODO */
}

.search-container .suggestions {
    /* TODO */
}

ul {
    /* TODO */
    position: fixed;
    font-family: fantasy;
    margin: 0;
    background-color: rgba(255, 189, 114, 0.5);
    border: 1px orangered;
    text-align: center;
    width: 40vh;
    padding: 0;
    list-style: none;
}

ul.has-suggestions {
    /* TODO */
}

ul li {
    /* TODO */

}

ul li:hover {
    /* TODO */
    background-color: orangered;
    font-size: larger;
    zoom: 125%;
    cursor: default;
}